<p class="w-full py-4"><%= link_to '< Back', inventory_checks_path, class: 'text-blue' %></p>
<h1 class="text-4xl font-extrabold">Inventory Check: <%= @inventory_check.created_at %></h1>
<div class="relative overflow-x-auto">
  <p class="py-4">Report run at <%= @inventory_check.created_at %>, returned <%= @inventory_check.data.count %> rows.</p>
  <div class="p-6>
    <%= link_to csv_inventory_check_path(@inventory_check), class: 'text-blue' do %>
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Download CSV</button>
    <% end %>
  </div>
  <table class="table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="text-left px-6 py-3">
          SKU
        </th>
        <th scope="col" class="w-2/5 px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          On Hand
        </th>
        <th scope="col" class="px-6 py-3">
          Item ID / Variation ID
        </th>
        <th scope="col" class="px-6 py-3">
          Vendor
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_check.inventory_items.each do |item| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 text-left"><%= link_to item.sku, "https://app.squareup.com/dashboard/items/library/#{item.id}", class: "text-blue-500" %></td>
          <td class="w-2/5 px-6 py=4"><%= item.name %></td>
          <td class="px-6 py-4"><%= item.quantity %></td>
          <td class="px-6 py-4"><%= item.id %> / <%= item.variation_id %></td>
          <td class="px-6 py-4"><%= item.vendor %></td>
          <td class="px-6 py-4"><%= item.price %></td>
          <td class="px-6 py-4"><%= item.description&.truncate(30) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>