<h1 class="text-4xl font-extrabold">Inventory Check: <%= @inventory_check.created_at %></h1>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="text-left px-6 py-3">
          SKU
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          On Hand
        </th>
        <th scope="col" class="px-6 py-3">
          Item ID / Variation ID
        </th>
        <th scope="col" class="px-6 py-3">
          Vendor
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_check.inventory_items.each do |item| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 text-left"><%= item.sku %></td>
          <td class="px-6 py=4"><%= item.name %></td>
          <td class="px-6 py=4"><%= item.quantity %></td>
          <td class="px-6 py=4"><%= item.id %> / <%= item.variation_id %></td>
          <td class="px-6 py=4"><%= item.vendor %></td>
          <td class="px-6 py=4"><%= item.price %></td>
          <td class="px-6 py=4"><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>