<!DOCTYPE html>
<html>
  <head>
    <title>RoughCounts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </head>
  <body>
    <nav class="bg-gray-800 border-gray-200">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Rough Counts</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-800 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
            <% if current_user %>
              <li>
                <span class="py-2 px-3 text-white bg-gray-800 rounded "
                  <%= current_user.display_name %>
                </span>
                </li>
                <li>
                  <a href="/publisher" class="block py-2 px-3 text-white bg-gray-800 rounded" aria-current="page">Publisher</a>
                </li>
                <li>
                  <a href="/inventory_checks" class="block py-2 px-3 text-white bg-gray-800 rounded" aria-current="page">Inventory</a>
                </li>
                <li>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "block py-2 px-3 text-white bg-blue-700 rounded" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Log in", new_user_session_path, class: "block py-2 px-3 text-white bg-blue-700 rounded" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <main class="container mx-auto mt-10 px-5 max-w-screen-xl flex flex-wrap">
        <div class="w-full">
          <% if flash[:notice] %>
            <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <%= flash[:error] %>
            </div>
          <% end %>
          <% if flash[:success] %>
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
              <%= flash[:success] %>
            </div>
          <% end %>
          <% if flash[:warning] %>
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
              <%= flash[:warning] %>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </body>
  </html>
